.header{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: solid 1px;
    
}

.navbar > ul{
    display: flex;
    flex-wrap: wrap;
    
}

.navbar > ul > li{
    margin: 10px;
    font-size: 20px;
    list-style: none;
    
}

.logoimg{
    width: 100px;
    height: 100px;
}

.restcard{
    width: 200px; 
   margin: 5px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s;
    cursor: pointer;
    
}

.restcard:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.cardimg{
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.card-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datadiv{
    padding: 5px;
}